<appSettings>

  <!--Application URL -->
  <add key="sAppURL"  value="http://www.adactin.com/HotelApp/"/>

  <!-- Login Page Elements-->
  <add key="Txt_Login_Username"  value=".//*[@id='username']"/>
  <add key="Txt_Login_Password"  value="password"/>
  <add key="Btn_Login_Login"  value="login"/>

  <!-- Search Hotel Page Elements-->
  <add key="Lst_SearchHotel_Location"  value="location"/>
  <add key="Btn_SearchHotel_Search"  value="Submit"/>
  <add key="Lbl_SearchHotel_WelcomeMessage"  value="username_show"/>
  <add key="Rad_SelectHotel_RadioButton_1"  value="radiobutton_1"/>
  <add key="Btn_SelectHotel_Continue"  value="continue"/>

  <!-- Booking Hotel Page Elements-->
  <add key="Txt_BookingHotel_FirstName"  value="first_name"/>
  <add key="Txt_BookingHotel_LastName"  value="last_name"/>
  <add key="Txt_BookingHotel_Address"  value="address"/>
  <add key="Txt_BookingHotel_CCNumber"  value="cc_num"/>
  <add key="Lst_BookingHotel_CCType"  value="cc_type"/>
  <add key="Lst_BookingHotel_CCExpMonth"  value="cc_exp_month"/>
  <add key="Lst_BookingHotel_CCExpYear"  value="cc_exp_year"/>
  <add key="Txt_BookingHotel_CCCvvNumber"  value="cc_cvv"/>
  <add key="Btn_BookingHotel_BookNow"  value="book_now"/>
  <add key="Txt_BookingHotel_OrderNo"  value="order_no"/>
  <add key="Btn_BookingHotel_Logout"  value="logout"/>
  <add key="Lnk_BookingHotel_Logout"  value="Logout"/>
 
  <!-- Booked Itinerary Elements-->
  <add key="Btn_BookingHotel_MyItinerary"  value="my_itinerary"/>  
  <add key="Txt_BookedItinerary_SearchOrderid"  value="order_id_text"/>
  <add key="Btn_BookedItinerary_Go"  value="search_hotel_id"/>
  
  <add key="Lnk_Logout_ClickHeretoLoginAgain"  value="Click here to login again"/>

  <!-- Logout Elements-->

</appSettings>
